body{
  background:url("./webpattern.jpeg");
  background-color: darkblue;
  background-blend-mode: multiply;
  background-size: cover;
}


.App {
  display: flex;
  justify-content: center;
  text-align: center;
  color: red;
  height: 100vh;
  width: 100vw;
}


/* #root{
  background-color: darkblue;
  color: red;
} */


nav {
  width: 50%;
  height:5rem;
  margin: 10px auto;
  position:fixed;
  display:flex;
  flex-flow: row;
  justify-content: space-around;

}

nav button{
  margin:1.5rem 10px;
  /* justify-content: space-around; */
  width:100%;
  height:40%;
  padding:10px;
  border-radius: 5px;
  background-color:red;
  position: relative;
  cursor: alias;
  z-index:1;
  text-indent: inherit;
}

nav > .navBar{
  background-color: rgba(65, 96, 150, 1);
  border-radius: 10px;
  width: inherit;
  height:inherit;
  position:inherit;
  z-index:0
}

.logo{
  width:50%;
  height: 50%;
}
.spiderBtn{
  width:100%;
  height: 190%;
  margin-top: -2.7em;

}
.imgBtn{
  margin: 2rem 10px;
  width:50em;
  height:40%;
  position:relative;
}


.listImg{
  width:100px;
  height:100px;
}



.hero{
  margin:10px;
  display: flex;
  flex-direction:row;
  width:500px;
  height:auto;
  padding: 5px;
  background-color:white;
  border:solid black 4px;
}

.view{
  height:10rem;
  margin: 10rem auto;
  position:inherit;
  overflow: inherit;
}
.intro{
  height: auto;
  width: 100%;
  margin: auto;
}

.intro img {
  height: 50%;
  width: 100%;
}

.intro article{
  margin: 10px;
  padding:5px;
  font-weight: bold;
}

.intro #morlun {
  height: 25%;
  width: 25%;
}

.captions{
  background-color:red;
  color:black;
  border:solid black 2px;
  transform:skewX(-20deg);
  display:flex;
  justify-content: flex-start;
  width: 200px;

}
