.App {
  text-align: center;
  background-color: darkblue;
  color: red;
  height: 100rem;
  width: 100rem;
}

/* #root{
  background-color: darkblue;
  color: red;
} */

.navBar {
  width: auto;
  height:10rem;
  background-color: rgba(65, 96, 150, 1);
  position:sticky;
}

.logo{
  width:50%;
  height: 50%;
}

.imgBtn{
  width:auto;
  height:10rem;
  position:absolute;
}
